version: '3.8'

services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile-simple
    restart: always
    ports:
      - "127.0.0.1:3001:8000"
    environment:
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - TELEGRAM_CHAT_ID=${TELEGRAM_CHAT_ID}
    env_file:
      - .env
    volumes:
      - ./backend/app:/app
