html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  background: var(--tg-theme-bg-color, #ffffff);
  color: var(--tg-theme-text-color, #000000);

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    system-ui,
    sans-serif;
}

* {
  box-sizing: border-box;
}
